Django==1.9.7
argparse==1.2.1
django-bootstrap-ui==0.2.0
django-bootstrap3==7.0.1
django-tag-parser==2.1
django-telegram-bot==0.5.3
djangorestframework==3.3.2
dominate==2.1.17
future==0.15.2
requests==2.10.0
